/* colour refs
#99CCFF (sky blue)
*/

/* img links
https://files.strawcdn.com/straw/bQmHxpJQhXEtkPNybydS.jpg
*/
 
/* style */
 
body 
{ background-color: #99CCFF;
  color: white;
  font-family: "courier new", Monospace;
  margin: 0;
}

.bannerStyle
{ box-sizing: border-box;
  margin: auto;
  display: flex;
  position: static;
  padding: 20px;
  width: 800px;
  height: 150px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
}

.content
{ box-sizing: border-box;
  margin: auto;
  display: grid;
  width: 800px;
  text-align: center;
  position: static;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 8px;
  border: 2px dotted black;
  border-radius: 5px;
  background-color: aqua;
}

.leftContent
{ box-sizing: border-box;
  background-color: red;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.aboutBox
{ box-sizing: border-box;
  width: 100%;
  margin: auto;
  text-align: center;
}

.aboutInfo 
{ background-color: white;
  text-align: center;
  border: 1px dotted white;
  border-radius: 5px;
}

.middleContent
{ box-sizing: border-box;
  background-color: blue;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.middleInfo
{ box-sizing: border-box;
  background-color: darkblue;
  text-align: center;
  margin: auto;
  width: 100%;
}

h2.middleInfo
{
}

.rightContent
{ box-sizing: border-box;
  background-color: yellow;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}