/* colour refs
#99CCFF (sky blue)
#eff7fa (white blue)
#eff3f8 (white steel blue)
*/

/* img links
bg cloud https://files.strawcdn.com/straw/kzECHHWqcxvnmCOxwdxX.gif
bg http://theinspirationgallery.com/wallpaper/damask/images/wp_damask_187.gif
banner https://files.strawcdn.com/straw/uMGvoTFQyevBPCbdCHxm.jpg
art https://files.strawcdn.com/straw/bQmHxpJQhXEtkPNybydS.jpg
*/

/* buttons
(powered by testosterone) https://files.strawcdn.com/straw/zFlEUqEUtgAFAKJkpNNZ.gif
(made with affection) https://files.strawcdn.com/straw/UKBzIjMANNvdVlZWLrLl.gif
(proud of my son) https://files.strawcdn.com/straw/FmPyRzsluFUbLtKvkxwA.gif

*/
 
/* style */

html
{ background-image: url("https://files.strawcdn.com/straw/kzECHHWqcxvnmCOxwdxX.gif");
  background-repeat: repeat, repeat;
  background-color: #99CCFF;
  color: white;
  font-size: 1em;
  font-family: "courier new", Monospace;
}

body 
{ color: white;
  font-size: 1em;
  font-family: "courier new", Monospace;
  margin: 0;
}

.bannerStyle
{ background-image: url("https://files.strawcdn.com/straw/uMGvoTFQyevBPCbdCHxm.jpg");
  background-size: cover;
  background-color: navy;
  background-clip: content-box;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  position: static;
  width: 900px;
  height: 175px;
  text-align: center;
}

.content
{ box-sizing: border-box;
  margin: auto;
  display: flex;
  padding: 10px;
  width: 900px;
  text-align: center;
  position: static;
  flex-direction: row;
  border: 2px dotted aqua;
  border-radius: 5px;
  background-color: transparent;
  column-gap: 8px;
}

.leftContent
{ box-sizing: border-box;
  background-color: lightgreen;
  margin: auto;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px dotted white;
}

.aboutBox
{ box-sizing: border-box;
  margin: auto;
  text-align: center;
  background-color: pink;
  border: 1px dotted white;
}

.aboutInfo 
{ box-sizing: border-box;
  background-color: white;
  text-align: center;
  border: 1px dotted white;
  border-radius: 5px;
}

.aboutPicture
{ box-sizing: border-box;
  background-color: white;
  margin: auto;
  width: 125px;
  height: 125px;
}

.featuredBox
{ box-sizing: border-box;
  background-color: gray;
  border: 1px solid navy;
}

.middleContent
{ box-sizing: border-box;
  background-color: blue;
  text-align: center;
  margin: auto;
  display: flex;
  flex: 2 1 0;
  flex-direction: column;
  border: 2px dotted white;
}

.middleInfo
{ box-sizing: border-box;
  background-color: darkblue;
  text-align: center;
  margin: auto;
  flex: 1 1 0;
}

h2.middleInfo
{
}

.rightContent
{ box-sizing: border-box;
  background-color: yellow;
  text-align: center;
  margin: auto;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  border: 2px dotted white;
}

.rightNavigation
{ box-sizing: border-box;
  background-color: teal;
  border: 2px dotted olive;
  overflow: scroll;
}

.listNavigation
{
  
}

.rightUpdate
{ box-sizing: border-box;
  text-align: center;
  background-color: green;
  border: 2px dotted red;
  overflow: scroll;
  margin-top: 4px;
}

.rightToDo
{ box-sizing: border-box;
  text-align: center;
  background-color: blue;
  border: 2px dotted yellow;
  overflow: scroll;
  margin-top: 2px;
}

.containButtonStyle
{ box-sizing: border-box;
  background-color: fuchsia;
  flex-flow: row wrap;
  border: 1px dotted white;
  max-width:100%;
}

.containStampStyle
{ box-sizing: border-box;
  background-color: fuchsia;
  flex-direction: row;
  border: 1px dotted black;
}

.buttonStyle
{
  width: 88px;
  height: 31px;
}

.stampStyle
{ width: 99px;
  height: 57px;
}